.root {
  position: relative;
}

.select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 17px 15px 20px;
  box-shadow: 0px 7px 64px 0px #00000012;
  border-radius: 5px;
  gap: 70px;

  min-width: 180px;
  cursor: pointer;

  span {
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
  }
}
.dropdown {
  position: absolute;
  top: 48px;
  left: 0;
  max-width: 180px;
  padding: 5px;
  background: #fff;
  width: 100%;
}
