.root {
  font-size: 12px;
  line-height: 15px;
  padding: 12px 18px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;

  &:hover {
    background: var(--blue-light);
  }

  &.selected {
    background: var(--blue-light);
  }
}
