.header {
  display: flex;
  align-items: center;
  padding: 22px 123px;
  box-shadow: 0px 7px 64px 0px #00000012;
  gap: 45px;
  p {
    font-size: 20px;
    line-height: 44px;

    span {
      color: var(--blue);
    }
  }
}
